.sticky-container {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 100;
}

.container {
  display: flex;
  align-items: center;
  height: 65px;
  background-color: #fffffd;
  box-shadow: 0 4px 4px -4px #00000040;
  overflow: hidden;
}

.bottom-shadow {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
}

.logo {
  cursor: pointer;

  .autoscale-image {
    max-width: 100%;
    min-width: 164.75px;
    height: 40px;
    margin: 24px;
  }
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tab {
    position: relative;
    cursor: pointer;
    flex: 1;
    text-align: center;
    padding: 8px;
    white-space: nowrap;
    color: #22333b;
    transition: color 0.3s ease;

    &.selected {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #22333b;
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.3s ease;
      }
    }

    &:not(.selected):hover {
      color: #22333b;
    }

    &:not(.selected)::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #22333b;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.3s ease;
    }

    &:not(.selected):hover::before {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  .separator {
    margin: 0 8px;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  margin: 24px;

  p-button {
    margin-left: 8px;
  }
}
